body {
    font-family: 'Noto Sans JP', sans-serif;
    max-width: 100%;
    background-color: #000000;
}

::placeholder {
    color: white;
}

::webkit-scrollbar {
    width: 10px;
}

::webkit-scrollbar-track {
    background-color: #264141;
}

::webkit-scrollbar-thumb {
    background-color: #E24743;
    border-radius: 5px;
}

input:focus ~ ::placeholder {
    color: black;
}
/*title-----------------------------*/
.titlebox {
    width: 80%;
    height: 60px;
    margin-left: 10%;
    margin-bottom: 5%;
}

#title {
    font-size: 50px;
    text-align: center;
    color: #FFFFFF;
}
/*-----------------------------------*/

/*box1-------------------------------*/
.box1 {
    width: 30%;
    height: 50px;
    margin-left: 35%;
    margin-bottom: 2%;
}

#in1 {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    outline: none;
    text-align: center;
    border: solid 2px #FFFFFF;
    background-color: #000000;
    color: #FFFFFF;
}

#in1:focus {
    border: solid 2px #E24743;
}
/*-----------------------------------*/

/*box2-------------------------------*/
.box2 {
    width: 30%;
    height: 100px;
    margin-left: 35%;
    margin-bottom: 2%;
}

#in2 {
    width: 100%;
    height: 100%;
    border: solid 2px #FFFFFF;
    background-color: #000000;
    color: #FFFFFF;
    outline: none;
    border-radius: 10px;
    vertical-align: middle;
}

#in2:focus {
    border: solid 2px #E24743;
    vertical-align: none;
}
/*-----------------------------------*/

/*submit-----------------------------*/
.submit {
    width: 15%;
    height: 50px;
    margin-left: 42.5%;
}

#submit {
    width: 100%;
    height: 100%;
    border: solid 2px #FFFFFF;
    outline: none;
    border-radius: 25px;
    text-align: center;
    background-color: #000000;
    color: #FFFFFF;
    -webkit-appearance: none;
    box-shadow: none;
}

#submit:hover {
    border: none;
    background-color: #E24743;
}
/*-----------------------------------*/
